boody {
       background-color: rgb(0, 0, 0);
       color: blueviolet;
       margin: 0px;
}

header {
       border-bottom:solid 3px black;
       padding: 20px;
       font-size: 30px;
       color:black;
}
